.product-name-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-left:10px;
}

.product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.bought {
  text-decoration: line-through;
}
