<div class="list-item"
     [ngClass]="{'bought': product.bought, 'm-zebra': i%2}"
     (press)="edit(product)"
     *ngFor="let product of products | orderBy: 'name'; let i = index"
     [routerLink]="['details', product.id]">
    <div class="checkbox-and-name">
        <input type="checkbox"
               (click)="$event.stopPropagation()"
               (change)="buy.emit(product)"
               [checked]="product.bought">
        <div class="product-name-container">
            <span class="product-name">{{ product.name }}</span>
        </div>
    </div>
    <div class="buttons">
        <div class="button" (click)="quantityPlus.emit(product); $event.stopPropagation();">
            <mat-icon>add_circle</mat-icon>
        </div>
        <div class="quantity">{{ product.quantity }}</div>
        <div class="button" (click)="quantityMinus.emit(product); $event.stopPropagation();">
            <mat-icon>remove_circle</mat-icon>
        </div>
        <div class="button m-last" (click)="removeProduct.emit(product); $event.stopPropagation();">
            <mat-icon>delete</mat-icon>
        </div>
    </div>
</div>
