.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  padding-top: 0px
}

.items-list {
  margin-top: 120px;
}

.new-product {
  position: fixed;
  top: 56px;
  left: 0px;
  z-index: 2;
  background-color: #e0e0e0;
}

.no-products-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px 0 15px;
}

.no-products {
  text-align: center;
  font-size: 15px;
  font-family: 'Roboto,"Helvetica Neue",sans-serif';
  p {
    margin-bottom: 15px;
  }
  strong {
    font-weight: bold;
  }
}
