<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <mat-form-field class="col-10 col-lg-11">
                    <input
                            [(ngModel)]="newProductName"
                            matInput
                            placeholder="New product name">
                </mat-form-field>
                <div class="col-2 col-lg-1 add">
                    <a mat-mini-fab (click)="addProduct()" [disabled]="!newProductName">Add</a>
                </div>
            </div>
            <mat-nav-list class="filter">
                <mat-list-item>
                    <mat-slide-toggle (change)="onlyBought()" [ngModel]="filters.bought">Show only bought
                    </mat-slide-toggle>
                </mat-list-item>
            </mat-nav-list>
            <app-list-item
                    [products]="products"
                    (buy)="buy($event)"
                    (quantityMinus)="quantityMinus($event)"
                    (quantityPlus)="quantityPlus($event)"
                    (removeProduct)="removeProduct($event)"></app-list-item>
        </div>
    </div>
</div>