.add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter {
  padding-top: 0px
}

.items-list {
  margin-top: 120px;
}

.new-product {
  position: fixed;
  top: 56px;
  left: 0px;
  z-index: 2;
  background-color: #e0e0e0;
}