<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <ul class="col-12">
            <li class="list-group-item d-flex justify-content-between align-items-center form-group">
                <input type="text" class="form-control col-8" name="newProductName"
                       [(ngModel)]="newProductName"
                       placeholder="New product name" required>
                <button type="submit" class="btn col-2" (click)="addProduct()" [disabled]="!newProductName">
                    Add
                </button>
                <button type="submit" class="btn col-2" (click)="undo()" [disabled]="!storeManagement.hasUndoActions()">
                    Undo
                </button>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center form-group">
                        <span class="form-check" style="display: inline-block">
                              <input class="form-check-input" type="checkbox" (change)="onlyBought()"
                                     [ngModel]="filters.bought" id="only_bought">
                              <label class="form-check-label" for="only_bought">
                                 Show only bought
                              </label>
                        </span>
            </li>
            <app-list-item
                    [products]="products"
                    (buy)="buy($event)"
                    (quantityMinus)="quantityMinus($event)"
                    (quantityPlus)="quantityPlus($event)"
                    (removeProduct)="removeProduct($event)"></app-list-item>
        </ul>
    </div>
</div>