<mat-toolbar color="primary" class="header">
    <span class="title">{{ title }}</span>
    <div>
        <ng-content></ng-content>
        <mat-icon class="header-button" *ngIf="warning | async" (click)="showErrorSnackBar()">warning</mat-icon>
        <mat-icon class="header-button" (click)="toggleNavbar()">menu</mat-icon>
        <mat-icon class="header-button"
                  (click)="back()"
                  *ngIf="showBack">keyboard_arrow_left
        </mat-icon>
    </div>

</mat-toolbar>
