<div class="confirmation">
    <form (ngSubmit)="save()">
        <mat-form-field>
            <input name="name" type="text"
                   matInput
                   [errorStateMatcher]="errorMatcher"
                   [(ngModel)]="item.name">
            <mat-error>
                Name must not be empty.
            </mat-error>
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
    </form>
    <div class="button-container">
        <button mat-raised-button color="primary" class="ok" (click)="save()">Save</button>
        <button mat-raised-button color="primary" (click)="close()">Cancel</button>
    </div>
</div>
