.edit {
  font-family: 'Roboto,"Helvetica Neue",sans-serif';
}

.header {
  font-size: 20px;
  margin: 15px 0px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ok {
  margin-right: 10px;
}