.item-name-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  padding-left: 10px;
}

.item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 18px;
}

.bought {
  .item-name {
    text-decoration: line-through;
  }
  .quantity {
    background-color: #2f8518;
  }
}

.button {
  padding: 10px 7px 10px 7px;
  &.m-last {
    padding: 10px 7px 10px 0px;
  }
}

.quantity {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #673ab7;
  line-height: 28px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}

.list-item {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 50px;
  border-bottom: 1px rgba(0, 0, 0, 0.42) solid;

  &.m-zebra {
    background-color: #f2f2f2;
  }

}

.buttons {
  display: flex;
  align-items: center;
}

.checkbox-and-name {
  margin-left: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 85%;
}
