<div class="container-fluid new-product">
    <div class="row">
        <div class="col-12">
            <form (ngSubmit)="addItem()" class="row">
                <mat-form-field class="col-10 col-lg-11">
                    <input
                            [(ngModel)]="itemName"
                            matInput
                            name="itemName"
                            placeholder="New {{ type }} name">
                </mat-form-field>
                <div class="col-2 col-lg-1 add">
                    <a mat-mini-fab (click)="addItem()" [disabled]="!itemName">Add</a>
                </div>
            </form>
        </div>
    </div>
</div>