@import '~reset-css/reset';
@import "~bootstrap/scss/bootstrap-grid";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.spacer {
  flex: 1 1 auto;
}

.mat-list-item-content {
  border-bottom: 1px rgba(0, 0, 0, .42) solid;
}

.done {
  color: #39c71d;
  margin-right: 15px;
  mat-icon {
    font-size: 30px;
  }
}
